* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;
  }

  h1 {
    font-size: 30px;
    font-size: 8vw;
  }
  h2 {
    font-size: 15px;
    font-size: 3vw;
  }
  h3,{
    font-size: 14px
    font-size: 2.8vw;
  }
  h4,{
    font-size: 11px
    font-size: 2.3vw;
  }
  h5,
  h6 {
    margin: 0;
  }
  
  p {
    font-size: 8px
    font-size: 1.5vw;
    margin: 0;
  }



#portfolio {
    color: rgb(128, 3, 3);
    display: flex;
    padding: 10px;
    flex-direction: center;
    justify-content: center;
    height: 180px;
}

header{
background-image: url('https://img.freepik.com/https://img.freepik.com/free-photo/abstract-luxury-gradient-blue-background-smooth-dark-blue-with-black-vignette-studio-banner_1258-63452.jpg?w=826&t=st=1670018011~exp=1670018611~hmac=d0bef177dc75744a564f86268043f955e0afa10474b593528e7afdc79baadc97free-photo/gradient-dark-blue-futuristic-digital-grid-background_53876-129728.jpg?w=826&t=https://img.freepik.com/free-photo/abstract-luxury-gradient-blue-background-smooth-dark-blue-with-black-vignette-studio-banner_1258-63452.jpg?w=826&t=st=1670018011~exp=1670018611~hmac=d0bef177dc75744a564f86268043f955e0afa10474b593528e7afdc79baadc97st=1670017920~exp=1670018520~hmac=67bfbe40898aec7551d8d3d03a31d8a455dc2fee2b54da9447c386c36084cf4d');
background-size: cover;
background-repeat: no-repeat;
object-fit: cover;
margin: 0;
display: block;
}
img {border:8px solid</subHeader> rgb(5, 41, 248);
margin-right: 5px;}

#subHeader{
  background-image: url('https://img.freepik.com/premium-vector/modern-white-gray-abstract-web-banner-background-creative-design-with-geometric-triangles-vector-abstract-graphic-design-banner-pattern-background-template_181182-18261.jpg?w=2000');
  height: 100px;
  margin: 0;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
  display: flex;
  justify-content: center;
}

#title {
display:flex;
flex-direction: row-reverse;
justify-content: flex-end;
gap: 30px;
}
.footer {
    display: flex;#footer
    display:flex: 
    flex-direction: row;
    justify-content: flex-start;
    margin: 20px 5%;
    gap:30px
}

#navigation {
    display: flex;#navBar 
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 20px 5%;
    gap:30px
  }

  #navigation p {
    cursor: pointer;
    text-decoration: none;
  }

  .main-content{
    display: grid;
    grid-template-columns: 37% 60%; 3%
    gap:10px
    grid-auto-rows: 200px 200px 200px;
    grid-template-areas:
    "a b"
    "c d"
    "e f";
    align-items:start
  
}
.TitleME {grid-area: a;}

.DescriptionMe {grid-area: b;}

.Work {grid-area: c;}

.placeholder1 {grid-area: d;}

#grid-placeholders {grid-area:f}




footer{
    display: flex;
    justify-content:center;
}

#grid-placeholders {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: end;
} 

  @media only screen and (max-width: 1000px) 
    #navigation {
      
    }
    .icons {
      margin-left: auto;
    }1

    @media only screen and (max-width: 1000px) 
    #navigation2 {
      
    }
    .icons {
      margin-left: auto;
    }  